.page_container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_head {
    height: 159px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.feedback__form,
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    div {
        margin: 15px 0;
    }
}

.feedback_form,
.feedback_button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin-top: 15px;
    }

    input {
        width: 430px;
        height: 40px;
        border-radius: 10px;
        border: 0.5px solid #000;
        background: rgba(237, 226, 222, 0.56);
        padding: 0 10px;
        font-size: 18px;

    }

    textarea {
        width: 630px;
        height: 480px;
        border-radius: 8px;
        border: 0.5px solid #000;
        background: rgba(237, 226, 222, 0.56);
        resize: none;
        line-height: 1.5rem;
        padding: 10px;
        font-size: 18px;
    }
}

.feedback_button {
    margin: 15px 0px;
    display: flex;
    align-items: end;

    input {
        width: 200px;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: 109.023%;
        letter-spacing: 2.2px;
        transition: 0.3s;
    }

    input:hover {
        background: rgba(173, 163, 158, 0.7);
    }
}


.textarea_label {
    margin-left: 100px;
}



@media (max-width: 600px) {


    .textarea_label {
        margin-left: 0px;
    }



    .feedback_form {

        input,
        textarea {
            width: 250px;
        }

        textarea {
            height: 250px;
        }
    }

    .feedback_button {
        align-items: center;
        justify-content: center;

        input,
        textarea {
            width: 150px;
        }
    }
}